@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

#heroSection {
  margin-bottom: 5.33333vw;
}

#heroSection .hero-image {
  width: 100vw;
  height: 120vw;
}

#heroSection .hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#heroSection .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("images/gold bg.svg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-color: #2C2640;
  background-position: left;
  color: white;
  padding: 6.66667vw;
  padding-bottom: 13.33333vw;
  padding-top: 13.33333vw;
  height: 93.33333vw;
}

#heroSection .message .caption {
  font-size: 10.13333vw;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 11.2vw;
  font-family: 'DM Serif Display';
}

.btn-message {
  font-size: 3.46667vw;
  padding: 2.66667vw;
  margin: auto;
  background-color: transparent;
  border: 0.26667vw solid white;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn-message:hover {
  border: 0.26667vw solid #FEE99C;
  background-color: #FEE99C;
  color: #5E5E44;
}

.benefitList {
  margin-top: 48.53333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39.46667vw;
}

.benefitList h2 {
  font-size: 10.66667vw;
  text-transform: uppercase;
  color: #2B282F;
}

.benefitList .benefit {
  margin-top: 22.66667vw;
  font-size: 6.13333vw;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 5.33333vw;
}

.benefitList .benefit img {
  width: auto;
  height: 13.33333vw;
  text-align: center;
  margin-bottom: 11.2vw;
}

.hubungi {
  background-color: #2C2640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 19.73333vw;
  padding-bottom: 19.73333vw;
  background-image: url("images/gold bg.svg");
  background-size: 150%;
  background-position: right;
}

.hubungi p {
  font-size: 10.13333vw;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 11.2vw;
  color: white;
}
/*# sourceMappingURL=style.css.map */