
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


@function makeVW($input,$mediasize) {
  @return $input/$mediasize*100vw;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  // border:1px solid pink;
}

a{
  color:inherit;
}

select{
  font-family: inherit;
  font-size: 1rem;
}

button{
  font-family: inherit;
}

body{
  font-family: 'Karla', sans-serif;
  
}


h2{
    font-size:makeVW(40,375 );
    text-transform: uppercase;
    color:#2B282F;
  }

#heroSection{
  margin-bottom:makeVW(20,375);
  height: 100vh;
  .hero-image{
    // width:100vw;
    height: 120vw;
    // width:100vw;
    height: 60%;

    img{
      width:100%;
      height: 100%;
      object-fit: cover;
      
    }
    
  }

  .message{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('images/goldBg3Top.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #002f5f;
    // background-color: #d9523e;
    background-position: top left;
    color:white;
    padding:makeVW(25,375 );
    padding-bottom:makeVW(50,375 );
    padding-top:makeVW(75,375 );
    height:makeVW(350,375 );
    height:40%;
    width:100%;
    height:fit-content;

    .caption{
      font-size:makeVW(38,375 );
      font-size: 1.8rem;
      font-weight: bolder;
      text-transform: uppercase;
      text-align: center;
      margin-bottom:makeVW(42,375);
      width:100%;
      // font-family: 'DM Serif Display'
    }

  }
}

.btn-message{
  font-size:makeVW(13,375 );
  padding:makeVW(10,375 );
  margin:auto;
  background-color: #002f5f;
  border:makeVW(1,375 ) solid white;
  color:white;
  text-transform: uppercase;
  
  text-decoration: none;
  cursor:pointer;
  border-radius:5px;
  text-align: center;

  &:hover{
    // border:makeVW(1,375 ) solid #FEE99C;
    // background-color: #FEE99C;
    color:#002f5f;
    background-image: linear-gradient(to left bottom, #ffe189, #f9d880, #f4ce78, #eec56f, #e8bc67, #e4b661, #e0af5c, #dca956, #d9a452, #d59f4e, #d29a4a, #ce9546);
    // border:none;
    border-color: #ffe189;
  }
}

.benefitList{
  margin-top:makeVW(182,375 );
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom:makeVW(148,375 );

  

  .benefit{
    margin:auto;
    margin-top:makeVW(85,375 );
    font-size: makeVW(23,375 );
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding:makeVW(20,375);
    cursor: pointer;
    position:relative;
    overflow: hidden;
    width:90%;

    img{
          width:auto;
          height:makeVW(50,375 );
          text-align: center;
          margin-bottom:makeVW(42,375 );

        }

    .info{
      display:none;
      width:100%;
      height: 100%;
      // word-wrap: break-word;

    }

    .infoON{
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap:wrap;
      position:absolute;
      width:100%;
      height: 100%;
      top:0;
      left:0;
      background-color: #002f5f;
      color: white;
      padding:2rem;
      font-size: 0.9rem;
      line-height: 1.5em;
      border-radius: 10px;
      background-image:  url('images/goldBg3Btm.svg');
      background-repeat: no-repeat;
      background-position: bottom right;
      // ul li{
      //   font-size: 0.9rem;
      // }

      .kata{
        width:200px;
        width:80%;
        word-wrap: break-word;
       

        
      }
    }

  }


}

.simulasi{
  padding:1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  row-gap:20px;
  margin:2rem auto;
  
  h2{
    text-align: center;
  }
  form{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    border:1px solid rgba(128, 128, 128, 0.329);
    padding: 2rem 1em;
    border-radius: 10px;
    width:100%;
    background-color: #002f5f;
    color:white;
  }

  .question{
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    // padding-left:2rem;

    .label{
    width: max-content;
    font-weight: 600;
    padding-left: 0px;
    }

    select{
      border:none;
      background-color: #002f5f;
      color: whitesmoke;
    }

    input{
      height:2rem;
      font-family: inherit;
      border:none;
      background-color: rgb(231, 227, 227);
      color:#002f5f;
      padding:10px;
    }
  }

}


.hubungi{
  background-color: #002f5f;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-top:makeVW(74,375 );
  padding-bottom:makeVW(74,375 );
  background-image: url('images/goldBg3Btm.svg');
  background-size: 75%;
  background-position: right bottom;
  background-repeat: no-repeat;
  // position: absolute;
  // bottom:0;
  // width: 100%;
  // left:0;

  p{
    font-size:makeVW(38,375);
    text-transform: uppercase;
    text-align: center;
    margin-bottom:makeVW(42,375 );
    color:white;
  }
  
}

@media only screen and (min-width:768px){

  h2{
    font-size:makeVW(65,1800);
    text-align: left;
    margin-bottom:makeVW(88,1800);

  }

  #heroSection{
    // width:100vw;
    height:makeVW(600,1800 );
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-image: url('images/goldBg3Top.svg'), url('images/goldBg3Btm.svg');
    background-repeat: no-repeat no-repeat;
    background-position: top left, right bottom;
    background-size: 40%;
    background-color: #002f5f;
    align-items: center;
    padding-inline: makeVW(30,1800);
    // padding-left:makeVW(100,1800);
   
    
    .hero-image{
      width:makeVW(537,1800);
      height: makeVW(650,1800);
      // margin-right:makeVW(166,1800 );
      // margin-top:makeVW(105,1800 );

      img{
        transform:translateY(4rem);
      }
      
    }
  
    .message{
      
      align-items: flex-start;
      background-color: transparent;
      // padding-top:makeVW(175,1800 );
      height:makeVW(310,1800 );
      width:makeVW(545,1800);
      width:makeVW(600,1800);
      background-image: none;
      margin-top:makeVW(175,1800);
      margin-top:makeVW(0,1800);
      // margin-left:15vw;
      padding:0;
      
  
      .caption{
        font-size:makeVW(50,1800 );
        text-align: left;
        margin-bottom:makeVW(33,1800);
        margin-top:10px;
        width:100%;
        
    
      }
  
    }
  }
  
  .btn-message{
    width:fit-content;
    height:fit-content;
    font-size:makeVW(25,1800 );
    margin:0;
    // margin-bottom:makeVW(128,1800);
    box-sizing: border-box;
  
  }
  
  .benefitList{
    margin-top:makeVW(50,375 );
    display:block;  
    padding:makeVW(100,1800);
    // width:100vw;
    margin-bottom:makeVW(50,1800 );
    
  
    
  
    .benefitcontainer{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
      
    }

    .benefit{
  
      font-size: makeVW(27,1800);
      margin:0;
      display:flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 2px 2px 10px grey;
      border-radius:20px;

      img{
        height:makeVW(92,1800 );
        margin:0;
        margin-bottom: 35px;
      }


      &:hover{
        img{
          transform: scale(1.5);
          transition: 0.5s ease-in-out
        }

        // div{
        //   font-size: 1.2em;
        // }
        
      }
    }
  }

  .simulasi{
    align-items: flex-start;
    padding:makeVW(100,1800);
    
    form{
      width:80%;
      margin:auto;
      padding: 3rem 2em;
    }

    button{
      margin-bottom: 0;
      margin: auto;
    }
  }
  
  .hubungi{
  //   background-color: #2C2640;
  //   display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  //   padding-top:makeVW(74,375 );
  //   padding-bottom:makeVW(74,375 );
  //   background-image: url('images/gold\ bg.svg');
  //   background-size: 150%;
  //   background-position: right;
    padding:makeVW(83,1800);
    height: fit-content;
  
    p{
      font-size:makeVW(40,1800);
      max-width: makeVW(700,1800 );
  //     text-transform: uppercase;
      text-align: left;
      margin-bottom:0;
  //     color:white;
    }

    a{
      margin-bottom:0;
    }
   
    
  }
}






